# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
.terraform.lock.hcl
terraform.tfvars
!terraform.tfvars.example

# CloudFormation
cloudformation/packaged-*.yaml

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
dist/
build/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# AWS
.aws-sam/
samconfig.toml
